tr.link, tr.clickable {
  cursor: pointer;
  &:hover {
    background: #eaeaea !important;
  }
}

.clickable {
  cursor: pointer;
}

.tabsline {
  padding: 0 0 10px 0 !important;
}

.nowrap {
  white-space: nowrap;
}

.homepage .illustration {
  background: image-url("illustration.png") no-repeat scroll 0 0 transparent;
  height: 406px;
  width: 438px;
}

.i96grad-medicine
{
  background: image-url("medicine.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96grad-tree
{
  background: image-url("tree.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96grad-pieChart
{
  background: image-url("pieChart.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96grad-fire
{
  background: image-url("fire.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96-council
{
  background: image-url("council.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i96-cross
{
  background: image-url("cross.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 96px;
}

.i48grad-scale {
  background: image-url("scale.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.i48grad-computer {
  background: image-url("computer.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.i48grad-language {
  background: image-url("language.png") no-repeat center top;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}



span.validation {
  display: inline-block;
  width: 135px;
  margin:6px 0 !important;
}

span.forwardto {
  display:inline-block;
  width:66px;
  margin:6px 0 !important
}

.hidden {
  display: none;
}

span.language {
  display: inline-block;
  width: 270px !important;
}

.upload-file {
  padding: 0 !important;
  overflow: hidden;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.upload-file input {
  opacity: 0;
  width: 24px;
  height: 24px;
}
.pointer {
  cursor: pointer;
}
.to_right{
  float: right;
}
.ui-datepicker{
  z-index : 100;
}

.name{
  font-size: 14px;
}
.description{
  color : #aaa;
  font-size : 12px;
}

div.tabsline{
  z-index: 1 !important ;
}
ul.tabs.top li a{
  z-index: 1 !important ;
}
.item{
  padding: 6px;
  margin: 6px;
  background: #ddd;
}
.round{
  border-radius : 5px;
}

.field-required{
  color :red;
  font-weight: bold;
  margin : 5px;
}
.datetimepicker{
  background-image: url("calendar.png");
  background-position: 99% 2px;
  background-repeat: no-repeat;
  padding-right: 25px;
}
.field_with_errors{
  display: inline;
}

.pagination a {
    color: #777777;
    margin-left: 10px;
    text-decoration: none;
}

.pagination em {
    color: BLACK;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}

.div_right{
    float: right;
    padding-top: 3px;
}

.div_left{
    float: left;
    padding-top : 3px;
}

.div_content_variable{
  width: 92px;
}

a.audio_tool{
  padding-top: 4px !important;
  vertical-align: middle;
}

.audio_tool{
  background-color: transparent;
  background-position: left top;
  background-repeat: no-repeat;
  height: 24px;
  min-width: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.play{
  background-image: url("../assets/play.png");
}

.pause{
  background-image: url("../assets/pause.png");
}

.nopadding{
  padding: 0px;
}

.audio_tool:hover{
  background-position: 0 -30px;
}

.control_step{  
  background-color: transparent;
  background-position: left top;
  background-repeat: no-repeat;  
  min-width: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;  
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.register{
  background-image: url("../assets/register.png");
  height: 59px;
  width: 59px;
}

.lspeech_recognition{
  background-image: url("../assets/speech_recognition.png");
  height: 59px;
  width: 59px; 
}

.i48grad-speech_recogition {
    background: image-url("call_flow.speech.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    display: inline-block;
    height: 48px;
    vertical-align: middle;
    width: 48px;
}


.deregister{
  background-image: url("../assets/unregister.png");
  height: 59px;
  width: 59px;
}

.to-left{
  align: left;
}

.control_step:hover{
  background-position: 0 -60px;
}

.control_step:active{
  background-position: 0 -120px;
}

.i48grad-register {
    background: url("../assets/call_flow_register.png") no-repeat scroll center top transparent;
    display: inline-block;
    height: 48px;
    vertical-align: middle;
    width: 48px;
}

.i48grad-deregister {
    background: url("../assets/call_flow_unregister.png") no-repeat scroll center top transparent;
    display: inline-block;
    height: 48px;
    vertical-align: middle;
    width: 48px;
}
.ws12{
  width: 150px !important;
}

div.row-block{
  margin: 6px 0px;
  clear:both;
}

div.label-block {
  display:block;
  width: 120px;
  float: left;
  margin-top: 6px;
}


.input-block {
  margin-top: -3px;
  margin-left: 130px;
}

.input-block input {
  width: 120px !important;
}

